package components

templ Footer() {
	<footer class="footer footer-center p-10 bg-base-200 text-base-content">
		<aside>
			<p class="font-bold">
				<span class="text-primary">Go</span>Forge
			</p>
			<p>Built with Go + Chi + Templ + HTMX + Tailwind + DaisyUI</p>
			<p>Copyright © 2024 - All rights reserved</p>
		</aside>
	</footer>
}
